.container {
  margin: 0 auto;
  width: 900px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container p {
  font-size: 40px;
  padding: 10px;
  background-color: rgb(226, 97, 10);
  border-radius: 10px;
  color: #fff;
}
